/* style for base.html template */
body {
  margin: 0%;
  padding: 0%;
  color: black;
}
.navbar {
  background-color: #b7e5f8;
}
.link {
  text-decoration: none;
}
.link:hover {
  position: relative;
  left: 2px;
  top: 1px;
  transition-delay: 20ms;
}
.nav {
  display: inline-block;
}
.list {
  display: inline-flex;
  margin-left: 50px;
}
h1 {
  text-align: center;
  color: #1013a3;
}
.footer {
  background-color: #b7e5f8;
  padding-bottom: 10px;
}
.name {
  text-align: center;
  padding-top: 12px;
  font-family: "Times New Roman", Times, serif;
}
.lst {
  list-style-type: none;
  padding: 5px;
}
.stuff {
  display: flex;
  justify-content: center;
}
.fa {
  padding-left: 15px;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
}

/* style for index.html template */
